body, html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    background-color: #093e41;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    width:80%;
    /* background-color: #bababa; */
}

.menu {
    display: flex;
    color: #858585;
    margin-top: 70px;
    margin-bottom: 40px;
}

.menu__item {
    margin-right: 10px;
}

h1 {
    font-size: 42px;
    line-height: 50px;
    margin-block-start: 0.5em;
    margin-block-end: 1.2em;
    width: 500px;
}

.down__section {
    display: flex;
    align-items: center;
}

.down__menu-items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    list-style: none;
    padding-inline-start: 0;
    /* background-color: #958a8a; */
}
.down__menu-item {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    font-size: 14px;
    line-height: 17px;
}
span:first-child {
    color: #858585;
}

img {
    height: 60px;
    width: 60px;
}
@media screen and (max-width: 600px) {
    .container {
        /* background-color: #6a5757; */
        max-width: 500px;
        margin: 0 auto;
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        
    }
    .menu {
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .menu__item {
        font-size: 18px;
        line-height: 22px;
    }
    h1 {
        font-size: 26px;
        max-width: 300px;
        line-height: 40px;
    }
    img {
        height: 80px;
        width: 80px;
    }
    .down__menu-item {
        /* margin-left: 60px; */
        font-size: 14px;
        line-height: 15px;
    }
    .item_2 {
        /* margin-left: 52px;         */
    }
    .item_1, .item_2 {
        margin-bottom: 25px;
    }
    .item_4 {
        margin-right: 20px;
    }
    .down__menu-items {
        flex-wrap: wrap;
        max-width: 300px;
        max-height: 110px;
        justify-content: space-between;
}
}