.header {
    padding: 20px 0;
    border-bottom: 1px solid grey;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    width: 96%;
    background-color: #70b99c;
}
.header__row {
    display: flex;
    justify-content: space-between;

}


.header-left__icon,
.header__right-icon {
    width: 50px;
    height: 50px;
    background-color: grey;
    flex-shrink: 0;
    border-radius: 50%;
}

.header__right,
.header-left {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.header-left__icon {
    margin-right: 10px
}

.header__right-icon {
    margin-left: 10px;
}

.header img {
    height: 50px;
    width: 50px;
}
.post-item__right {
    width: 15%;
}
.attach {
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

.post-item__left {
    width: 20%;
    white-space: nowrap;
}




.main {
    display: flex;
    padding-top: 20px;
    max-width: 96%;
}


.menu {
    background-color: grey;
    width: 300px;
    height: 500px;
    flex-shrink: 0;
    /* margin-right: 25px; */
}

.post-item {
    display: flex;
    align-items: center;
    font-size: 12px;
}


.post-item>div {

    /* Селектор применяется только к детям .post-item */
    display: flex;
    align-items: center;
}

.post-item__center {
    max-width: 70%;
    margin: 0 20px 0 10%;
}
.post-item__desc {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}